@model CLOTHING_PRODUCTS.Models.Salary

@{
    ViewData["Title"] = "Edit General";
}

<h1>Edit General</h1>

<form asp-action="EditGeneral">
    <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" name="year" value="@ViewBag.Year" />
        <input type="hidden" name="month" value="@ViewBag.Month" />
        <label asp-for="General" class="control-label"></label>
        <input asp-for="General" class="form-control" />
        <span asp-validation-for="General" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
