@model CLOTHING_PRODUCTS.Models.MeasurementUnit

@{
    ViewData["Title"] = "Create Measurement Unit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>